.site-footer{
    background-color: $color-dark;
    color: $color-light;
    font-size: .8rem;
    text-align: center;
    padding: 3rem 0;
    
    @include atLarge{
        text-align: left;
        }
    
    &__link{
        color: $color-light;
     
        &:hover{
            color:$color-secondary;
        }
    }
}
