.row{
    margin-bottom: 2.5rem;
    
    &--medium-6{
        @include atMedium{
            width:50%;
            float: left;
        }
    }
    
    &--large-4{
        @include atLarge{
           width:33.33%;
           float: left;
        }
    }
    
    &--gutters{
        margin-right: -30px;       
    }
    
    &--gutters > div{
        padding-right: 30px;       
    }      
}

