
/*COLORS*/
$color-primary:black;        //black
$color-secondary:#ff6600;    //orange
$color-light:#fff;        //white
$color-dark:#222;        //grey



/*FONTS*/
$font-primary: "Roboto", sans-serif;

